.main-card{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.booked-img{
    height: 8rem;

}
.parent-div-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    margin: 2% 5%;
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 10%), 0 -3px 3px rgb(0 0 0 / 10%), 0 -4px 12px rgb(0 0 0 / 10%);
}


/*/////////////////// button /////////////////////*/

.cancel {

    height: 50px;

    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
      inset -5px -5px 10px #222;
    font-family: "Damion", cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
  }
  
  .cancel:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
  }
  