
.sub-card{
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 10%), 0 -3px 3px rgb(0 0 0 / 10%), 0 -4px 12px rgb(0 0 0 / 10%);
    width: 35rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: .6rem;
}
.profile-main-div{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.personal-h1{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}
.personal-div{
    padding-top: .5rem;
    padding-left: 4rem;
}
.sub-card-h1{
    font-weight: bold;
}
.personal-sub-div1{
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 10%), 0 -3px 3px rgb(0 0 0 / 10%), 0 -4px 12px rgb(0 0 0 / 10%);
    height: 5rem;
    width: 80rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.personal-sub-div{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.upload-btn1{
    background-color: black;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
}
.user-card-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2rem;
}
.fav-h1{
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}