.cards-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    gap: 2rem;
    
    
}
.card-img {
    height: 270px;
    width: 270px;
    object-fit:cover;
  
    
  }
.card-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
.card-rating{
    display: flex;
    align-items: center;
    gap: .25rem;
}
.swiper-container {
    height: 270px;
    width: 270px;
    overflow: hidden;
    border-radius: 1rem;
   
   
  }
  .property-card {
    margin-bottom: 2rem;
    /* z-index: -1; */
  }
  .property-card .swiper-pagination-bullet-active {
    background-color: white !important;
  }
  /* Change the color of Swiper navigation buttons */
.swiper-button-prev::after,
.swiper-button-next::after{
  color: #ffffff; /* Replace with your desired color */
}/* Change the background color of Swiper navigation buttons */

.browse-div{
  padding: 2rem;
}
.browse-title{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
.img1{
  height: 25rem;
  width: 40rem;
  border-radius: 0.5rem;
}
.img-main-div{
  display: flex;
  gap: 1rem;
}
.img2{
  height: 12rem;
  width: 20rem;
  border-radius: .5rem;
}
.img-sub-div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.spec{
  font-size: 1.5rem;
}
.heart{
  color: rgba(255, 255, 255, 0.616);
  font-size: 1.5rem;
}
.redheart{
  color: rgb(255, 59, 33);
  font-size: 1.5rem;
}
.no-list{
  font-size: 3rem;
  font-weight: bold;
  color: #ff385c;
}




.booking-form {
  width: 300px;
  margin-left: auto; 
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.date-picker {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.check-btn {
  background-color: rgb(252, 73, 73);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}







